*:focus,
*:active {
	outline: 0 !important;
	box-shadow: none !important;
}

body {
	animation: fade-in 1s, bg-move 10s linear infinite;
	-webkit-animation: fade-in 1s, bg-move 10s linear infinite;
	font-size: 1rem;
	font-family: 'Nunito', sans-serif;
}

oz-selection {
	background: rgba(0, 0, 0, 0.2);
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
}

@-webkit-keyframes fade-in {
	from {
		opacity: 0;
	}
}

ol,
ul {
	margin: 0 !important;
	padding: 0 !important;
}

/*TOP*/

.go-top {
	position: fixed;
	bottom: 1em;
	right: 1em;
	text-decoration: none;
	color: white;
	background-color: #395dab;
	font-size: 1rem;
	text-align: center;
	width: 50px;
	height: 50px;
	line-height: 50px;
	display: none;
	z-index: 3;
	text-decoration: none;
	border-radius: 0px;
}

.go-top:hover {
	border-color: #395dab;
	text-decoration: none;
	color: #395dab;
	transition: ease .5s;
	background-color: #fff;
}

.nopad {
	padding: 0px;
	overflow: hidden;
}

.wrapper_pad {
	width: 80%;
	margin: auto;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	word-break: break-word;
}

.footerbg {
	background-color: #0d1b3c;
	padding: 10px 0px;
	border-top: 1px solid #fff;
	text-align: center;
	color: #fff;
}

.topbg {
	background-color: #0d1b3c;
	padding: 10px 0px;
}

.topmenu_social {
	text-align: right;
}

.topmenu_social ul li {
	padding-right: 20px;
	display: inline-block;
}


.tel_top a,
.topmenu_social ul li a {
	color: #fff;
	text-decoration: none;
}

.dropdown button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	font-size: 0.8rem;
	display: inline-block;
	background-color: #fff;
	border-radius: 50px;
	padding: 5px 15px;
	color: #686868;
	font-weight: bold;
}

.dropdown-item {
	font-size: 0.9rem;
	color: #686868 !important;
}

.flag_1 {
	width: 17px;
	vertical-align: top;
}

.dropdown-toggle::after {
	display: none;
}

.mainmenu {
	text-align: right;
}

.mainmenu ul li {
	display: inline-block;
	padding: 85px 30px;
	border-right: 1px solid #ebebeb;
}

.mainmenu ul li:hover {
	background-color: #395dab;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.mainmenu li.active a,
.mainmenu ul li:hover a {
	color: #fff;
}

.mainmenu ul li:last-child {
	border-right: none;
}


.mainmenu li.active {
	background-color: #395dab;
}

.mainmenu ul li a {
	color: #383838;
	font-size: 1.2rem;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	text-decoration: none;
}

.linemiddle {
	background-color: #395dab;
	height: 7px;
	width: 100%;
	margin-top: -7px;
	-webkit-box-shadow: 0px 2px 7px 3px rgba(240, 240, 240, 0.5);
	-moz-box-shadow: 0px 2px 7px 3px rgba(240, 240, 240, 0.5);
	box-shadow: 0px 2px 7px 3px rgba(240, 240, 240, 0.5);
}

.banner_caption {
	position: absolute;
	z-index: 9;
	color: #fff;
	top: 35%;
	left: 10%;
	font-weight: 500;
	white-space: nowrap;
}

.banner_caption h1 {
	text-transform: uppercase;
	font-size: 2.5rem;
	letter-spacing: 1px;
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
}

.banner_caption p {
	font-size: 1.3rem;
}

.bannertop.owl-theme .owl-nav.disabled + .owl-dots {
	bottom: 25%;
	left: 10%;
	z-index: 1;
	position: absolute;
}

.bannertop.owl-theme .owl-dots .owl-dot.active span {
	width: 30px;
	background-color: #fff;
}

.bannertop.owl-theme .owl-dots .owl-dot span {
	background-color: rgba(255, 255, 255, 0.5);
}

.bannertop.owl-theme .owl-dots .owl-dot:hover span {
	background-color: #fff;
}

.product_slide.owl-theme .owl-nav [class*=owl-]:hover,
.news_slide.owl-theme .owl-nav [class*=owl-]:hover {
	background-color: transparent;
}

.product_slide {
	position: relative !important;
}

.product_slide .owl-prev {
	position: absolute;
	left: 0%;
	top: 40%;

}

.product_slide .owl-next {
	position: absolute;
	right: 0%;
	top: 40%;
}



.pdf_file {
	background-color: #395dab;
	border-radius: 50px;
	color: #fff;
}

.pdf_file:hover,
.viewbanner:hover {
	color: #fff;
	text-decoration: none;
	background-color: rgba(255, 255, 255, 0.3);
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.viewbanner {
	display: inline-block;
	text-decoration: none;
	font-size: 0.875rem;
	line-height: 1;
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px;
	border: 1px solid #fff;
	border-radius: 50px;
	padding: 10px 20px;
}

.viewdetail_next {
	color: #fff;
	text-transform: uppercase;
	font-family: 'Poppins', sans-serif;
	letter-spacing: 1px;

}

.viewdetail_next:hover {
	color: #fff;
	text-decoration: none;
}

.viewdetail_next svg,
.viewmorenews svg,
.viewbanner svg {
	margin-left: 5px;
	display: inline-block;
	vertical-align: middle;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;

}

.viewdetail_next:hover svg,
.viewmorenews:hover svg,
.viewbanner:hover svg {

	transform: translate(5px, 0);
}

.hoverstyle {
	border: 1px solid #fff;
}

.hoverstyle figure {
	overflow: hidden;
	margin-bottom: 0;
	position: relative;
}

.hoverstyle figure div {
	position: absolute;
	top: 5px;
	right: 5px;
	z-index: 9;
	opacity: 0;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.hoverstyle:hover figure div {
	opacity: 1;
}

.hoverstyle figure a img {
	-webkit-transition-duration: 0.6s;
	transition-duration: 0.6s;
	-webkit-transition-property: transform;
	transition-property: transform;
	width: 100%;
}

.hoverstyle:hover figure a img {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.smalltext {
	font-size: 0.8rem;
	color: #cecece;
	letter-spacing: 2px;
}

.smalltext div {
	display: inline-block;
	vertical-align: top;

}

.middleline {
	width: 15px;
	height: 1px;
	background-color: #fff;
	margin: 8px 15px 0;
}

.bgblue {
	background-color: #0d1b3c;
	margin-top: -16px;
	position: relative;
	/*	padding: 2% 0%;*/
}

.vextor_pic {
	position: absolute;
	top: 0;
}

.product_section {
	margin-top: 40px;
}

.product_section h2 {
	color: #fff;
	font-size: 2rem;
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	padding-top: 10px;
	text-transform: uppercase;
}

.dotsec {
	position: absolute;
	right: 5%;
	top: 0;
}

.dotsec2 {
	position: absolute;
	top: 0%;
	right: 10%;
}

.single {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 10px;
}

.single a {
	position: relative;
	width: 100%;
	overflow: hidden;
	line-height: 0;
	transition: color .1s linear;
	text-decoration: none;
	font-size: 1.5em;
}

.single a .img {
	width: 100%;
	height: 450px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.single a .img1 {
	background-image: url(../images/product_img1.png);
}

.single a .img2 {
	background-image: url(../images/product_img2.png);
}

.single a .img3 {
	background-image: url(../images/product_img3.png);
}

.single a .img4 {
	background-image: url(../images/product_img4.png);
}

.single a:hover .overlay {
	background-color: rgba(0, 0, 0, 0.0);
	transform: scale(1);
	transition: all .5s ease;
}

.single a:hover .img {
	transform: scale(1.05);
	transition: all .5s ease;
}

.single a .overlay {
	background-color: rgba(0, 0, 0, 0.7);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	position: absolute;
	text-align: center;
	text-transform: uppercase;
	z-index: 1;
	transform: scale(1.05);
	-webkit-transform: scale(1.05);
	transition: all .5s ease;
	box-sizing: border-box;
}

.single a .overlay span {
	width: 100%;
	color: white;
	font-size: 0.9em;
	line-height: 30px;
	margin: auto;
	padding: 30px;
	text-align: left;

}

.single a .img {
	max-height: 450px;
	transition: all .5s ease;
}

.single a .overlay span p {
	font-size: 0.75em;
	line-height: 20px;
}

.single a .overlay span h5 {
	font-size: 1em;
	font-weight: 600;
	font-family: 'Poppins', sans-serif;
}

.plusclass {
	position: absolute;
	bottom: 0;
	left: 5%;
	z-index: 9;
	opacity: 1;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	width: 100%;
}

.plusclass:hover {
	opacity: 0;
}

.viewdetail {
	font-size: 0.9rem;
	vertical-align: text-top;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.arr_rr {
	float: right;
	margin-top: -12px;
	margin-right: 40px;
}

.product_select_inside {
	margin-top: 50px;
}

.product_select_inside li {
	list-style: none;
	display: inline-block;
	padding: 20px 60px;
	text-align: center;
	border: 1px solid #fff;
	border-radius: 50px;
	cursor: pointer;
	margin-right: 10px;
}

.product_select_inside li.active {
	background-color: #395dab;
	border: 1px solid #395dab;
}

.product_select_inside li a {
	color: #fff;
	text-decoration: none;
}

.product_select {
	margin-top: 70px;
}


.product_select li {
	list-style: none;
	width: 50%;
	display: inline-block;
	padding: 20px 10px;
	text-align: center;
}

.product_select a {
	text-decoration: none;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
}


.product_select li.active {
	border: 1px solid #fff;
	border-radius: 50px;
}


.display-slide {
	display: none;
	position: relative;
}

.left_content {
	background-image: url(../images/bgblue_section.png);
	padding: 14%;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;

}

.right_content img {
	width: 100%;
}

.cropcontent {
	margin-top: 5%;
	position: relative;
}

.left_content p {
	font-size: 1.5em;
}

.dotwhite {
	position: absolute;
	top: -30px;
	z-index: 1;
	left: 50%;
}

.product_content {
	color: #acacac;
}

.news_box {
	padding-bottom: 20px;
}

.news_box h2 {
	color: #fff;
	font-size: 1.3em;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.news_box p {
	color: #acacac;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

.tag_label {
	color: #acacac;
	border-radius: 50px;
	border: 1px solid #fff;
	padding: 5px 20px;
	margin-top: 20px;
	display: inline-block;
	margin-bottom: 10px;
	font-size: 0.8em;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.btn_morenews {
	position: absolute;
	top: -30px;
	right: 30px;
}

.viewmorenews:hover {
	color: #395dab;
	text-decoration: none;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.viewmorenews {
	display: inline-block;
	text-decoration: none;
	font-size: 0.875rem;
	line-height: 1;
	color: #395dab;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px;
	background-color: #fff;
	border-radius: 5px;
	padding: 20px;
}

.news_boxcontent {
	position: relative;
}

.news_slide .owl-nav {
	position: absolute;
	top: -25%;
	right: 0;
}



.pagination_each {
	margin-bottom: 30px;
}

.pagination_each .breadcrumb {
	background-color: transparent;
}

.breadcrumb-item + .breadcrumb-item::before,
.breadcrumb-item.active,
.breadcrumb li a {
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.number_product {
	color: #acacac;
	font-family: 'Poppins', sans-serif;
	padding: 10px 0px;
	display: block;
	font-size: 0.9em;
	letter-spacing: 2px;
}

.bannertopproduct {
	background-image: url(../../public/assets/product_banner.png);
	width: 100%;
	padding: 10% 0%;
	background-size: cover;
	background-repeat: no-repeat;
}

.bannertopabt {
	background-image: url(../../public/assets/images/about_banner.png);
	width: 100%;
	padding: 10% 0%;
	background-size: cover;
	background-repeat: no-repeat;
}

.bannertopcontact {
	background-image: url(../../public/assets/images/contact.png);
	width: 100%;
	padding: 10% 0%;
	background-size: cover;
	background-repeat: no-repeat;
}

.bannertopnews {
	background-image: url(../../public/assets/images/news_banner.png);
	width: 100%;
	padding: 10% 0%;
	background-size: cover;
	background-repeat: no-repeat;
}

.bannertext {
	color: #fff;
	text-align: center;
}

.datetime {
	text-align: right;
	color: #fff;
	padding-top: 30px;
}

.borderbott {
	border-bottom: 1px solid #fff;
}

.pagination_each {
	margin: 0 auto;
	display: table;
	position: relative;
	margin-bottom: 30px;
}

.pagination_each:before {
	position: absolute;
	background: linear-gradient(to left, #395dab 60px, white 0px);
	height: 5px;
	content: '';
	top: 35px;
	width: 60px;
	left: 33%;
}

.pagination_bott {
	margin: 0 auto;
	display: table;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}

.pagination_bott .page-link {
	border: none;
	font-size: 0.9em;
	margin-right: 12px;
	color: #fff;
	text-align: center;
	padding: 0px;
	line-height: 30px;
	background-color: transparent;
}

.pagination_bott .page-item:first-child .page-link {
	background-color: #ebebeb;
	border-radius: 50px;
	color: #7d7d7d;
	padding: 5px 10px;
}

.pagination_bott .page-item:last-child .page-link {
	background-color: #fff;
	border: 1px solid #eee;
	border-radius: 50px;
	color: #7d7d7d;
	padding: 5px 10px;
}

.pagination_bott .page-item.active .page-link {
	background-color: #395dab;
	border-radius: 50px;
	width: 35px;
	height: 35px;

}

.bgwhite h2 {
	color: #383838;
}

.bgwhite h2,
.bannertext h2 {
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	font-weight: 700;
}

.bgwhite {
	background-color: #fff;
	padding: 30px 35px;
	margin-top: 50px;
	margin-bottom: 50px;
}

.contact_form label {
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	padding-top: 20px;
	color: #383838;
}

.contact_form .form-control {
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 1px solid #eee;
}

.left_icon {
	display: inline-block;
	width: 5%;
	vertical-align: top;
}

.right_text {
	display: inline-block;
	width: 60%;
}

.contact_info_text {
	color: #fff;
	padding-top: 20px;
}

.btn-primary {
	background-color: #fff;
	color: #000;
	border: none;
	border-radius: 50px;

}

.whitetxt {
	color: #fff;
}

.abt_sectiom {
	background-image: url(../../public/assets/images/about_sec2.png);
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 5% 0%;
}

.bgbotabt {
	background-image: url(../../public/assets/images/bg_about.png);
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 5% 0%;
}

/*----------- RESPONSIVE --------------*/
.mainlog img {
	width: 70%;
}

.logo a img {
	width: 60%;
	padding-top: 10px;
}

.logo {
	text-align: center;
}

.logo p {
	color: #395dab;
	font-size: 1rem;
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}

.menumobileslide {
	float: right;
	padding-top: 25px;
}

@media (max-width: 1499px) {
	.mainmenu ul li a {
		font-size: 1.1em;
	}

	
}

@media (max-width: 1299px) {
	.logo p{
		font-size: 0.8em;
	}
	.mainmenu ul li{
		padding: 57px 20px;
	}
}

@media (max-width: 1199px) {

	.dropdownmain li {
		width: 50%;
	}

	.logo a img {
		width: 70%:
	}

	.logo p {
		font-size: 0.8rem;
	}

	.wrapper_pad {
		width: 90%;
	}

	.mainmenu ul li {
		padding: 53px 12px;
	}

	.news_box h2 {
		font-size: 1.1em;
	}

	.bgwhite h2,
	.bannertext h2,
	.product_section h2 {
		font-size: 1.5rem;
	}

	.left_icon {
		width: 10%;
	}

	.viewmorenews {
		font-size: 0.8em;
		padding: 15px;
	}


}

@media (max-width: 991px) {
		.mainlog {
		padding-top: 10px;
	}
	.product_content {
		margin: 20px 0px;
	}

	.product_select_inside {
		margin-top: 20px;
	}

	.banner_caption {
		top: 25%;
		width: 80%;
		white-space: normal;
	}

	.bannertop.owl-theme .owl-nav.disabled + .owl-dots {
		bottom: 10%;
	}

	.left_content p {
		font-size: 1.1em;
	}

	.footerbg {
		font-size: 0.9em;
		padding: 10px;
	}

	.dropdown-menu {
		min-width: auto;
	}

	.bgwhite h2,
	.bannertext h2,
	.product_section h2 {
		font-size: 1.4em;
	}

	.left_icon {
		width: 12%;
	}

	.viewmorenews {
		padding: 10px;
	}

	.menumobileslide {
		padding-top: 45px;
	}

	.logo p {
		text-align: left;
	}

	.mainlog img {
		width: 40%;
	}


}

@media (max-width: 767px) {


	.mainlog img {
		width: 70%;
	}

	.product_select_inside li {
		padding: 20px 30px;
	}

	.menu_scroll {
		width: 100%;
		overflow-x: scroll;
		-webkit-overflow-scrolling: touch;
	}

	.product_select_inside {
		display: inline-block;
		min-width: 400px;
		text-align: left;
		padding: 0;
		font-size: 0.9em;
	}

	.menumobileslide {
		padding-top: 25px;
	}

	.bannertopproduct {
		padding: 20% 0%;
		background-position: right;
	}

	.bannertopnews,
	.bannertopabt,
	.bannertopcontact {
		padding: 20% 0%;
	}

	.pagination_each {
		display: none;
	}


	.left_icon {
		width: 15%;
	}


	.banner_caption {
		top: 11%;
	}

	.bgwhite h2,
	.bannertext h2,
	.product_section h2,
	.banner_caption h1 {
		font-size: 1.3em;

	}

	.banner_caption p {
		font-size: 1em;
		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
	}

	.btn_morenews {
		top: -20px;
	}



	.viewbanner {
		font-size: 0.7rem;
	}


	.news_box h2,
	.left_content p {
		font-size: 1em;
	}

	.viewdetail_next {
		font-size: 0.8em;
	}

	.datetime {
		text-align: left;
	}

	.wrapper_pad {
		width: 95%;
	}

	.news_box p,
	.topmenu_social ul li a {
		font-size: 0.9em;
	}

	.topmenu_social ul li {
		padding-right: 10px;
	}

	.topmenu_social {
		text-align: left;
		margin-top: -5px;
	}

	.changelang {
		position: absolute;
		right: 0;
		top: -5px;
	}

	.dropdown button {
		font-size: 0.7rem;
	}

	.dropdown-item {
		padding: .15rem 0.8rem;
	}

	.flag_1 {
		width: 14px;
	}

	.bgwhite {
		padding: 30px 15px;
	}


}

@media (max-width: 575px) {
	.product_select li {
		width: 100%;
	}

}
